@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*Header*/
.bg-light {
    background-color: #3E20B9 !important;
}

.container-top{
    display: flex;
    justify-content: end;
}

.nav-link:hover {
    color: #888888;
}

.nav2{
    background-color: #3E20B9 !important;
    position: sticky;
    z-index: 10001;
    width: 100%;
    top: 0px;
}

header {
    background-color: #4521D6 !important;
}

.link-dark {
    text-align: center;
    color: #ffffff;
    padding: 1;
}

.form-control {
    border-radius: 10px !important;
    background-clip:inherit;
    border: 2px transparent !important;
}



/*Carousel*/
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    transition: transform .6s ease-in-out;
}



/*Footer*/
.mb-4 {
    margin-bottom: 0 !important;
}

.mb-lg-0 {
    margin-bottom: 0 !important;
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.bg-primary {
    background-color: #202020 !important;
}

.title-footer {
    font-weight: 600;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
    text-transform: none;
}

.text-center {
    font-size: 14px;
}

.border-bottom {
    border-bottom: 0px !important
}

.social-footer {
    color: #000000;
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    line-height: 39px;
    border-radius: 50px;
    background: #edbe11;
    margin-bottom: 13px;
    margin-left: 5px;
  }